.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
}

.btn-grp {
    padding: 0.5rem;
}

.btn-grp a {
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.5rem;
}